<html>
<head>
  <meta charset="utf-8">
  <title>Bookmanagement</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark mb-4">
        <a class="navbar-brand" href="/books">Bookmanagement</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'createbook' %}">Add Book</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="jumbotron mt-5">
{% block content %}
{% endblock %}
        </div>
    </div>
</body>
</html>
