{% extends 'body.html' %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Delete {{ object.title }}?</p>
    <input type="submit" class="btn btn-primary" value="Confirm" />
</form>   
{% endblock %}
