{% extends 'body.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.year }}</h6>
        <p class="card-text">{{ object.author }}</p>
    </div>
</div>
{% endblock %}
